body{
font-family:Arial;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:600px;
background:#1e293b;
padding:30px;
border-radius:15px;
}

input{
width:100%;
padding:12px;
margin-bottom:15px;
}

button{
width:100%;
padding:12px;
background:#3b82f6;
border:none;
color:white;
cursor:pointer;
}

#result{
margin-top:20px;
}

